body {
    background-color: black;
}

.card {
    width            : 400px;
    height           : 200px;
    box-sizing       : border-box;
    padding          : 1px 20px;
    background       : url(./Imagens/backgorund.png);
    background-repeat: no repeat;
    background-size  : cover;
    margin           : auto;
    margin-top       : 10%;
}

a {
    text-decoration: none;
    color          : black;
}

.Facebook{
    list-style-image: url(./Imagens/Youtube.png);
}
.Instagram{
    list-style-image: url(./Imagens/Insta.png);
}
.Twitter{
    list-style-image: url(./Imagens/Twitter.png);
}